.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.menuButton,
.mobileLinks {
    display: none;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .mobileLinks {
        position: absolute;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        transition: height 0.5s ease-in-out;
    }
    
    .menuButton{
        display: block;
        cursor: pointer;
    }
}
